@import 
    'fonts',
    'variables';
    
*{
  outline: 0;
  margin: 0;
  padding: 0;
}
body{
  background-color: $background;
  color: $white;
  position: relative;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  cursor: none;
  @include respond-to($medium){
    cursor: auto;
  }
}
::-moz-selection { /* Code for Firefox */
  color:$background;
  background: $pink;
}

::selection {
  color: $background;
  background: $pink;
}
html{
  cursor: none;
}
img, embed,video{
  
  max-width: 100%;
  height: auto;
}

.container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

// Atoms
.mg-t-3{
  margin-top: 3em !important;
  @include respond-to($medium) {
    margin-top: 1.5em !important;
  }
}
.mg-t-5{
  margin-top: 5em !important;
  @include respond-to($medium) {
    margin-top: 2.5em !important;
  }
}
.mg-t-10{
  margin-top: 10em !important;
  @include respond-to($medium) {
    margin-top: 5em !important;
  }
}

.mg-b-3{
  margin-bottom: 3em !important;
  @include respond-to($medium) {
    margin-bottom: 1.5em !important;
  }
}
.mg-b-5{
  margin-bottom: 5em !important;
  @include respond-to($medium) {
    margin-bottom: 2.5em !important;
  }
}
.mg-b-10{
  margin-bottom: 10em !important;
  @include respond-to($medium) {
    margin-bottom: 5em !important;
  }
}

a {
  text-decoration: none;
  color: $white;
  position: relative;
  cursor: none;
  transition: color 0.4s 0.3s $cubic;
  &::after {
    content: '';
    width: 100%;
    height: 0.1em;
    background-color: $pink;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.8s $cubic;
  }
  &:hover{
    color: $pink;
    &::after {
      width: 0%;
    }
  }
  &.strong{
    font-weight: bold;
  }
}