

<div class="backgroundLines">
  <div class="PageCounter">
    <div class="PageCounter--overflow">
      <div class="PageCounter__container" [style.top]="top_number_cont">
        <span class="PageCounter__number" #page.name *ngFor="let page of page_count">
          {{page.number}}
        </span>
      </div>
    </div>
    <hr class="PageCounter__line">
  </div>
  <hr class="backgroundLines__line" [ngClass]="{'open': animate_line}">
</div>
<div  [@routeAnimations]="o && o.activatedRouteData 
&& o.activatedRouteData['animation']" class="project_container" 
(swipeup)="onSwipeUp($event)"
(swipedown)="onSwipeDown($event)">
 <div class="center-box">
  <router-outlet #o="outlet"></router-outlet>
 </div>
</div>