@import "../../../../sass/variables";
.main_div{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundLines{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -90;
  top: 0;
  left: 0;  
  display: flex;
  align-items: center;
  justify-content: left;
  &__line{
    position: fixed;
    margin-top: 10%;
    width: 0%;
    border: none;
    border-top: 2px solid $pink;
    transition: width 2s $cubic;
    
    @include respond-to($medium){
      border: none;
      height: 0%;
      left: 10%;
      border-left: 1px solid $pink;
      bottom: -65vh;
      margin-top: 0;
      transition: height 1s $cubic;
    }
    &.open{
      width: 80%;
      @include respond-to($medium){
        height: 80%;
      }
    }
  }
}
.project_container{ 
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  display: block;
}
.center-box{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50.83%;
  height: 50%;
  margin: auto;
  @include respond-to($medium){
    width: 75%;
    height: 26%;
  }
}

.PageCounter{
  text-align: center;
  position: absolute;
  top: 30%;
  right: 15%;
  @include respond-to($medium){
    top: 25%;
    left: 5%;
    width: 1em
  }
  &--overflow{
    width: 1em;
    height: 2em;
    overflow: hidden;
  }
  &__container{
    position: relative;
    top: 0em;
    transition: top 500ms $cubic;
  }
  &__number{
    font-size: 1em;
    line-height: 2em;
    height: 2em;
    width: 1em;
    display: block;
  }
  &__line{
    position: relative;
    width: 0;
    height: 3em;
    margin: 0 auto;
    top: 1em;
    border-color: $pink;
  }
}

.scroll-downs {
  position: absolute;
  right: 5em;
  bottom: -11em;
  margin: auto;
  width: 20em;
  height: 20em;
  transform: rotate(0deg);
  transition: 2s $cubic;
  @include respond-to($medium){
    right: -4em;
    bottom: -8em;
    width: 18em;
    height: 18em;
  }
}
@keyframes rotate_transform {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}