<app-page-header [page]="_page"></app-page-header>
<div class="PageContain">
  <div class="container">  
    <div class="row align-items-center justify-content-md-center mg-b-5">
      <div class="col-12 col-md-3 mg-b-5">
        <app-reveal-scroll>
          <p>
            <strong>
              2019
            </strong>
            <br>
            Awareness Campaign
          </p>
          <br>
          <p>
            <strong>
              Creative Team
            </strong>
          </p>
          <p>
            G. Shimako <span class="light">Illustrator</span><br>
            Jonas Barbosa <span class="light">Illustrator</span><br>
            Sara Garrido <span class="light">Illustrator</span><br>
            Eduardo Mazzi <span class="light">Illustrator</span><br>
            Mauro Palacios <span class="light">CD</span><br>
          </p>
        </app-reveal-scroll>
      </div>
      <div class="col-12 col-md-6 mg-b-5 px-md-5">
        <app-reveal-scroll delay="0.2s">
          <p class="about-text">
            LIT is the online plataform of education by Saint Paul Business School. The campaign key video is informative and demonstrates how to use time better with the platforms OnLearning content. The aesthetic mixes illustrations and technology references, flowing organically through the animation.
          </p>
        </app-reveal-scroll>
      </div>
      <div class="col-6 col-md-2 mg-b-5">
        <app-reveal-scroll delay="0.4s">
          <img src="./assets/images/lit/logo_min.png" draggable="false" alt="Logo Lit">
        </app-reveal-scroll>
      </div>
    </div>
  </div>
  <div class="container p-0">
    <div class="row mg-b-10">
      <div class="col-12 p-0">
        <app-video-player [config]="_config"></app-video-player>
      </div>
    </div>
  </div>
  <div class="flex-gifs">
    <div class="flex-gifs__container">
      <app-reveal-scroll>
        <app-image-loader 
          imgSrc="./assets/images/lit/Lit_cut_1.gif" 
          loaderSrc="./assets/images/lit/Lit_cut_1_cover.jpg"
          imgAlt="Lit Cut"></app-image-loader>
        </app-reveal-scroll>
    </div>
    <div class="flex-gifs__container">
      <app-reveal-scroll delay="0.2s">
        <app-image-loader 
          imgSrc="./assets/images/lit/Lit_cut_2.gif" 
          loaderSrc="./assets/images/lit/Lit_cut_2_cover.jpg"
          imgAlt="Lit Cut"></app-image-loader>
      </app-reveal-scroll>
    </div>
  </div>
  
  <app-reveal-scroll>
    <app-page-footer 
      pageName="Chillfy"
      pageLink="/p/Chillfy"
      pageBgLink="./assets/images/chill/Chillfy.jpg"
    ></app-page-footer>
  </app-reveal-scroll>
</div>