<app-page-header [page]="_page"></app-page-header>
<div class="container PageContain">
  <div class="row mg-b-5">
    <div class="col-12">
      <app-video-player [config]="_config"></app-video-player>
    </div>
  </div>
</div>
<div class="flex-gifs">
  <div class="flex-gifs__container">
    <app-image-loader 
      imgSrc="./assets/images/lit/Lit_cut_1.gif" 
      loaderSrc="./assets/images/lit/Lit_cut_1_cover.jpg"
      imgAlt="Lit Cut"></app-image-loader>
  </div>
  <div class="flex-gifs__container">
    <app-image-loader 
      imgSrc="./assets/images/lit/Lit_cut_2.gif" 
      loaderSrc="./assets/images/lit/Lit_cut_2_cover.jpg"
      imgAlt="Lit Cut"></app-image-loader>
  </div>
</div>