
@import "../../../../sass/variables";
.project{
  transform-style: preserve-3d;
  -moz-user-select: none;
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
  perspective: 1000px;
  &__titlebox{
    position: absolute;
    left: 80px;
    z-index: 1;
    -webkit-transform: translate(-50%,0) translateZ(80px);
    -moz-transform: translate(-50%,0) translateZ(80px);
    transform: translate(-50%,0) translateZ(80px);
    transition: translate $cubic;
    @include respond-to($medium){
      left: -10%;
      bottom: -15%;
      transform: none;
    }
    &__title{
      font-size: 90px;
      font-weight: bold;
      @include respond-to($medium){
        font-size: 4.5em;
      }
    }
    &__subtitle{
      font-size: 0.9em;
      font-weight: 600;
      margin-left: 5px;
      @include respond-to($medium){
        font-size: 0.8em;
        font-weight: 400;
        margin-left: 0;
      }
    }
  }
  &__image{
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    left: auto;
    right: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    @include respond-to($medium){
      position: absolute;
      left: 10%;
      width: 200%;
      max-width: 200%;
    }
  }
}
