
@import "../../../../sass/variables";
.project{
  transform-style: preserve-3d;
  -moz-user-select: none;
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
  &__titlebox{
    position: absolute;
    left: 80px;
    z-index: 1;
    -webkit-transform: translate(-50%,0) translateZ(80px);
    -moz-transform: translate(-50%,0) translateZ(80px);
    transform: translate(-50%,0) translateZ(80px);
    transition: translate $cubic;
    &__title{
      font-size: 90px;
      font-weight: bold;
    }
    &__subtitle{
      font-size: 18px;
      font-weight: 600;
      margin-left: 15px;
    }
  }
  &__image{
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    left: auto;
    right: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
}
