<app-page-header [page]="_page"></app-page-header>
<div class="PageContain" [ngsRevealSet]="_ngsReveal" [ngsInterval]="100" [ngsSelector]="'.reveal'">
  <div class="container">
    <div class="row align-items-center mg-b-10">
      <div class="col-12 col-md-3 reveal">
        <p>
          <strong>
            2019
          </strong>
          <br>
          Personal Project
        </p>
        <br>
        <p>
          <strong>
            Creative Team
          </strong>
        </p>
        <p>
          Danny França  <span class="light">Writer</span><br>
          Natalia Martins <span class="light">Illustrator</span><br>
          Iago Assis <span class="light">Designer</span><br>
          Ingrid Tomazini <span class="light">Designer</span><br>
          Marcelo Sanchez <span class="light">Designer</span>
        </p>
      </div>
      <div class="col-12 col-md-7 reveal">
        <p>
          Chill.fy is a personal project based on the roots of the gender lo-fi, in which the artists has the principles of do it yourself. The user has the experience of creating their own music that can be used for relaxing and to bust concentration
        </p>
      </div>
      <div class="col-12 col-md-2 reveal">
        <img src="./assets/images/chill/logo_min.png" draggable="false" alt="Logo Chill.fy White">
      </div>
    </div>
    <div class="row mg-b-5">
      <div class="col-12 reveal">
        <img src="./assets/images/chill/guidlines_1.png" draggable="false" alt="Chill.fy guidelines">
      </div>
    </div>
    <div class="row mg-b-10">
      <div class="col-12 col-md-6 offset-md-3 reveal">
        <img src="./assets/images/chill/guidlines_2.png" draggable="false" alt="Chill.fy guidelines">
      </div>
    </div>
    <div class="row mg-b-10">
      <div class="col-12 col-md-8 offset-md-2">
        <h2 class="PageContain__title reveal">
          CORES PRIMÁRIAS
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 reveal">
        <img src="./assets/images/chill/primary_colors.png" draggable="false" alt="Chill.fy Primary Colors">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-2">
        <h2 class="PageContain__title reveal">
          CORES SECUNDÁRIAS & GRADIENTES
        </h2>
      </div>
    </div>
    <div class="row mg-b-10">
      <div class="col-12">
        <div class="row">
          <div class="col-6 reveal">
            <img src="./assets/images/chill/secondary_colors.png" draggable="false" alt="Chill.fy Secondary Colors">
          </div>
          <div class="col-6 reveal">
            <img src="./assets/images/chill/gradient.png" draggable="false" alt="Chill.fy Gradient">
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-b-3">
      <div class="col-12 col-md-8 offset-2">
        <h2 class="PageContain__title reveal">
          DESKTOP LAYOUT
        </h2>
      </div>
    </div>
    <div class="row mg-b-3">
      <div class="col-12 reveal">
        <img src="./assets/images/chill/desktop_1.jpg" draggable="false" alt="Chill.fy Desktop Screen" >
      </div>
    </div>
    <div class="row mg-b-3">
      <div class="col-12 reveal">
        <img src="./assets/images/chill/desktop_2.jpg" draggable="false" alt="Chill.fy Desktop Screen" >
      </div>
    </div>
  </div>
  
  <div class="full-image mg-b-10 reveal">
    <img src="./assets/images/chill/desktop_3.png" alt="Chill.fy Desktop Screen">
  </div>
  
  <div class="PageContain">
    <div class="row mg-b-3">
      <div class="col-12 col-md-8 offset-2">
        <h2 class="PageContain__title reveal">
          MOBILE LAYOUT
        </h2>
      </div>
    </div>
    <div class="row mg-b-3">
      <div class="col-12 col-md-4 offset-4 reveal">
        <img src="./assets/images/chill/mobile_1.jpg" draggable="false" alt="Chill.fy Mobile Screen">
      </div>
    </div>
    <div class="row mg-b-3">
      <div class="col-12 col-md-4 offset-2 reveal">
        <img src="./assets/images/chill/mobile_2.jpg" draggable="false" alt="Chill.fy Mobile Screen">
      </div>
      <div class="col-12 col-md-4 reveal">
        <img src="./assets/images/chill/mobile_3.jpg" draggable="false" alt="Chill.fy Mobile Screen">
      </div>
    </div>
  </div>
  
  <div class="full-image mg-b-10 reveal">
    <img src="./assets/images/chill/mobile_4.png" alt="Chill.fy Mobile Screen">
  </div>
  
  <div class="nextProject reveal" [routerLink]="[ '/p/Lit']">
    <div class="row">
      <div class="col-12 col-md-2 offset-md-5">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1>
          Next Proj
        </h1>
        <h1>
          Lit
        </h1>
      </div>
    </div>
  </div>  
</div>
<!-- <app-image-loader 
imgSrc="./assets/images/chill/Chillfy.jpg" 
loaderSrc="./assets/images/chill/low_Chillfy.jpg"
imgAlt="Loader"></app-image-loader> -->