<div class="container project" ssvTilt [tiltOptions]="tiltOptions" >
  <div class="project__image">
    <div class="project__titlebox">
      <h1 class="project__titlebox__title">Palmeiras</h1>
      <h4 class="project__titlebox__subtitle">Ui & Art Direction</h4>
    </div>
    <app-image-loader 
    class="project__image"
    imgSrc="./assets/images/palmeiras/Palmeiras_cover.jpg" 
    loaderSrc="./assets/images/palmeiras/low_Palmeiras_cover.jpg"
    imgAlt="Loader"></app-image-loader>
  </div>
</div>