<app-page-header [page]="_page"></app-page-header>
<div class="PageContain">
  <div class="container">  
    <div class="row align-items-center mg-b-5">
      <div class="col-12 col-md-3 mg-b-5">
        <app-reveal-scroll>
          <p>
            <strong>
              2019
            </strong>
            <br>
            Brand Engagement
          </p>
          <br>
          <p>
            <strong>
              Creative Team
            </strong>
          </p>
          <p>
            Paula Saviolli <span class="light">Copywriter</span><br>
            Marianna Schmidt <span class="light">Art Director</span><br>
            Stephanie Ramos <span class="light">Copywriter</span><br>
          </p>
        </app-reveal-scroll>
      </div>
      <div class="col-12 col-md-7 mg-b-5">
        <app-reveal-scroll delay="0.2s">
          <p>
            Reebok is one of the largest footwear and sports apparel company in the world. To raise awareness and increase consideration and product value, we developed on social channels a visual identity that reinforces brand messages: dynamic, bold and inspirational, mixing GIFs, interactive formats on Stories and short videos optimized for the platforms.
          </p>
        </app-reveal-scroll>
      </div>
      <div class="col-12 col-md-2 mg-b-5">
        <app-reveal-scroll delay="0.4s">
          <img src="./assets/images/reebok/logo_min.png" draggable="false" alt="Logo Lit">
        </app-reveal-scroll>
      </div>
    </div>
  </div>
  <div class="container mg-b-5">
    <div class="row">
      <div parallax [ratio]="9" class="col-12 col-md-6 offset-md-2">
        <app-video-player [config]="video_1" delay="0.2s"></app-video-player>
      </div>
    </div>
    <div class="row row--overlay-25">
      <div parallax [ratio]="7" class="col-12 col-md-4 offset-md-6">
        <app-reveal-scroll>
          <img src="./assets/images/reebok/image_2.jpg" draggable="false" alt="Reeebok Art 2">
        </app-reveal-scroll>
      </div>
    </div>
  </div>
  <div class="container mg-b-5">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-1">
        <app-video-player delay="0.1s" [config]="video_2"></app-video-player>
      </div>
    </div>
    <div  parallax [ratio]="4" class="row" style="z-index: 22;">
      <div class="col-12 col-md-4 offset-md-7">
        <app-video-player delay="0.8s" [config]="video_4"></app-video-player>
      </div>
    </div>
    <div  parallax [ratio]="5" class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <app-video-player delay="0.2s" [config]="video_3"></app-video-player>
      </div>
    </div>
  </div>
  <div class="container mg-b-5">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-7">
        <app-video-player delay="0.2s" [config]="video_5"></app-video-player>
      </div>
    </div>
    <div parallax [ratio]="6" class="row">
      <div  class="col-12 col-md-6 offset-md-2 negative-index">
        <app-reveal-scroll>
          <img src="./assets/images/reebok/image_3.jpg" draggable="false" alt="Logo Lit">
        </app-reveal-scroll>
      </div>
    </div>
  </div>
  <div class="container mg-b-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-1">
        <app-video-player delay="0.2s" [config]="video_6"></app-video-player>
      </div>
    </div>
    <div parallax [ratio]="7" class="row negative-index">
      <div class="col-12 col-md-6 offset-md-6">
        <app-video-player delay="0.4s" [config]="video_7"></app-video-player>
      </div>
    </div>
  </div>
  <div class="flex-images small-padding">
    <app-reveal-scroll>
      <img src="./assets/images/reebok/bottom_1.jpg" draggable="false" alt="Reebok Brand Engagement" >
    </app-reveal-scroll>
    <app-reveal-scroll delay="0.2s">
      <img src="./assets/images/reebok/bottom_2.jpg" draggable="false" alt="Reebok Brand Engagement">
    </app-reveal-scroll>
    <app-reveal-scroll delay="0.4s">
      <img src="./assets/images/reebok/bottom_3.jpg" draggable="false" alt="Reebok Brand Engagement">
    </app-reveal-scroll>
  </div>
  <app-reveal-scroll>
    <app-page-footer 
      pageName="Senna"
      pageLink="/p/Senna"
      pageBgLink="./assets/images/senna/Senna_cover.jpg"
    ></app-page-footer>
  </app-reveal-scroll>
</div>