<app-page-header [page]="_page"></app-page-header>
<div class="PageContain">
  <div class="container">
    <div class="row align-items-center mg-b-5">
      <div class="col-12 col-md-3 mg-b-5">
        <app-reveal-scroll>
          <p>
            <strong>
              2019
            </strong>
            <br>
            Brand Engagement
          </p>
          <br>
          <p>
            <strong>
              Creative Team
            </strong>
          </p>
          <p>
            Elias Suzumura <span class="light">Motion</span><br>
            Éder Fantoni <span class="light">CopyWriter</span><br>
            Mauro Palacios <span class="light">CD</span><br>
          </p>
        </app-reveal-scroll>
      </div>
      <div class="col-12 col-md-7 mg-b-5">
        <app-reveal-scroll delay="0.2s">
          <p>
            Senna Brand is the licensing company created to manage Ayrton Senna’s name and brand after his death. With a portfolio that includes Tag Heuer, Ducati and McLaren, it was a huge challenge to transmit the boldness and courage associated with such a meaningful name as Ayrton Senna and his brand.
          </p>
        </app-reveal-scroll>
      </div>
      <div class="col-12 col-md-2 mg-b-5">
        <app-reveal-scroll delay="0.4s">
          <img src="./assets/images/senna/logo_min.png" draggable="false" alt="Logo Senna">
          </app-reveal-scroll>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- VIDEO GO HERE -->
      </div>
    </div>
    <div class="row d-none d-sm-flex">
      <div class="col-md-6">
        <div class="d-block">
          <app-video-player [config]="video_1"></app-video-player>
        </div>
        <div class="mg-t-3">
          <app-video-player [config]="video_3"></app-video-player>
        </div>
        <div class="mg-t-3">
          <app-video-player [config]="video_5"></app-video-player>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mg-t-5">
          <app-video-player [config]="video_2"></app-video-player>
        </div>
        <div class="mg-t-3">
          <app-video-player [config]="video_4"></app-video-player>
        </div>
        <div class="mg-t-3">
          <app-video-player [config]="video_6"></app-video-player>
        </div>
      </div>
    </div>
    <div class="row d-sm-none">
      <div class="col-12 mg-b-3">
        <app-video-player [config]="video_1"></app-video-player>
      </div>
      <div class="col-12 mg-b-3">
        <app-video-player [config]="video_2"></app-video-player>
      </div>
      <div class="col-12 mg-b-3">
        <app-video-player [config]="video_3"></app-video-player>
      </div>
      <div class="col-12 mg-b-3">
        <app-video-player [config]="video_4"></app-video-player>
      </div>
      <div class="col-12 mg-b-3">
        <app-video-player [config]="video_5"></app-video-player>
      </div>
      <div class="col-12 mg-b-3">
        <img src="./assets/images/senna/senna_6.jpg" draggable="false" alt="Senna Project Image" class="">
      </div>
    </div>
  </div>
  <div class="full-image mg-t-10 mg-b-10">
    <app-reveal-scroll>
      <img src="./assets/images/senna/bottom.jpg" alt="Senna Bottom Project Image">
    </app-reveal-scroll>
  </div>

  <app-reveal-scroll>
    <div class="nextProject" [routerLink]="[ '/p/Palmeiras']">
      <div class="row">
        <div class="col-12 col-md-2 offset-md-5">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h1>
            Next Proj
          </h1>
          <h1>
            Palmeiras
          </h1>
        </div>
      </div>
    </div>
  </app-reveal-scroll>
</div>