@import "../../../sass/variables";
.header{
  position: absolute;
  top: 60px;
  z-index: 9;
  width: 100%;
  @include respond-to($medium){
    position: absolute;
    top: 2em;
  }
  &__title{
    font-size: 22px;
    font-weight: 300;
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
    @include respond-to($medium){
      font-size: 0.9em;
      font-weight: 200;
    }
  }
  &__date{
    font-size: 22px;
    font-weight: 300;
    @include respond-to($medium){
      font-size: 0.9em;
      font-weight: 200;
    }
    hr{
      width: 40px;
      display: inline-block;
      vertical-align: middle;
      margin: -1px 12px 0;
      border: 0;
      border-bottom: 1px solid $white;
      @include respond-to($medium){
        width: 1.8em;
        display: inline-block;
        vertical-align: middle;
        margin: -1px 0.5em 0;
        border: 0;
        border-bottom: 1px solid #FFFFFF;
      }
    }
  }
  &__about{
    font-size: 22px;
    font-weight: 300;
    transform: rotate(-90deg);
    max-width: fit-content;
    float: right;
    transform: rotate(-90deg) translate(-30%,0);
    -webkit-transform: rotate(-90deg) translate(-30%,0);
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
      @include respond-to($medium){
        font-size: 0.9em;
        font-weight: 200;
        position: relative;
        right: -10%;
      }
  }
}