<app-page-header [page]="_page"></app-page-header>
<section class="PageContain" [ngsRevealSet]="_ngsReveal" [ngsInterval]="100" [ngsSelector]="'.reveal'">
  <div class="container ">
    <div class="row align-items-center mg-b-10">
      <div class="col-12 col-md-3 reveal">
        <p>
          <strong>
            2018
          </strong>
          <br>
          Official Site
        </p>
        <br>
        <p>
          <strong>
            Creative Team
          </strong>
        </p>
        <p>
          Gabi Shimako  <span class="light">Art Director</span><br>
          Mauro Palacios <span class="light">Creative Director</span>
        </p>
      </div>
      <div class="col-12 col-md-7 reveal">
        <p>
          Com uma proposta de modernizar o visual do website, foi desenvolvido um novo jeito de interagir com a Sociedade Esportiva Palmeiras. Mantendo a identidade clássica do maior time do Brasil, a nova interface foi planejada como uma maneira fácil e prática para a usabilidade de todos os públicos. 
        </p>
      </div>
      <div class="col-12 col-md-2 reveal">
        <img src="./assets/images/palmeiras/logo_min.png" draggable="false" alt="Logo Palmeiras">
      </div>
    </div>
    <div class="row mg-b-5">
      <div class="col-12 col-md-10 offset-md-1 reveal">
        <img src="./assets/images/palmeiras/desk_1.jpg" draggable="false" alt="Palmeiras Desktop Screen">
      </div>
    </div>
    <div class="row mg-b-5">
      <div class="col-12 col-md-10 offset-md-1 reveal">
        <img src="./assets/images/palmeiras/desk_2.jpg" draggable="false" alt="Palmeiras Desktop Screen">
      </div>
    </div>
  </div>
  <div class="flex-images mg-b-5 d-none d-sm-flex">
    <div class="reveal">
      <img src="./assets/images/palmeiras/desk_3.jpg" draggable="false" alt="Palmeiras Desktop Screen" >
    </div>
    <div class="reveal">
      <img src="./assets/images/palmeiras/desk_4.jpg" draggable="false" alt="Palmeiras Desktop Screen">
    </div>
    <div class="reveal">
      <img src="./assets/images/palmeiras/desk_5.jpg" draggable="false" alt="Palmeiras Desktop Screen">
    </div>
  </div>
  <div class="container d-sm-none">
    <div class="row mg-b-5">
      <div class="col-12 reveal">
        <img src="./assets/images/palmeiras/desk_3.jpg" draggable="false" alt="Palmeiras Desktop Screen">
      </div>
    </div>
    <div class="row mg-b-5">
      <div class="col-12 reveal">
        <img src="./assets/images/palmeiras/desk_4.jpg" draggable="false" alt="Palmeiras Desktop Screen">
      </div>
    </div>
    <div class="row mg-b-5">
      <div class="col-12 reveal">
        <img src="./assets/images/palmeiras/desk_5.jpg" draggable="false" alt="Palmeiras Desktop Screen">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mg-b-5">
      <div class="col-12 col-md-10 offset-md-1 reveal">
        <img src="./assets/images/palmeiras/desk_6.jpg" draggable="false" alt="Palmeiras Desktop Screen">
      </div>
    </div>
    <div class="row negative-margin">
      <div class="col-12 col-md-8 reveal">
        <img src="./assets/images/palmeiras/desk_7.jpg" draggable="false" alt="Palmeiras Desktop Screen">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-4 mg-b-5 reveal">
        <img src="./assets/images/palmeiras/desk_8.jpg" draggable="false" alt="Palmeiras Desktop Screen">
      </div>
    </div>
  </div>
  <div class="full-image mg-t-5 mg-b-5 reveal">
    <img src="./assets/images/palmeiras/bottom.jpg" alt="Senna Bottom Project Image">
  </div>
  
  <div class="nextProject reveal" [routerLink]="[ '/p/Chill']">
    <div class="row">
      <div class="col-12 col-md-2 offset-md-5">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1>
          Next Proj
        </h1>
        <h1>
          Chill.fy
        </h1>
      </div>
    </div>
  </div>
</section>