
@import "../../../sass/variables";
.nextProject{
  text-align: center;
  position: relative;
  padding:0;
  max-height: fit-content;
  padding-bottom: 10em;
  padding-top: 2em;
  @include respond-to($medium){
    padding:0;
  }
  &--padding{
    padding-top: 10em;
    @include respond-to($medium){
      padding-bottom: 4em;
      padding-top: 4em;
    }
  }
  hr{
    border-color: $pink;
    width: 100%;
  }
  &__title{
    font-size: 3em;
    display:inline-block;
    min-width: fit-content;
    padding: 0 5px;
    opacity: 0;
    &.pink{
      color: $pink;
    }
    &--pink-effect{
      display: block;
      width: 100%;
      height: 100%;
      background-color: $pink;
      position: absolute;
      top: 0;    
      left: -100%;  
      z-index: 1;
    }
    &--overlay{
      max-width: fit-content;
      padding: 0 10px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: 0.3em;
      @include respond-to($medium){
        margin-bottom: 0em;
        padding: 0 0;
      }
    }
  }
  @include respond-to($medium){
    h1{
      font-size: 1.55em;
    }
  }
}
.negative-index{
  z-index: -1;
}
.full-size { 
	height : 100%; 
	width : 100%; 
	position: absolute; 
	top : 0; 
	left : 0;
}
.blend-multiply {
	mix-blend-mode : multiply;
}
.blend-screen {
	mix-blend-mode : screen;
}

.mask-bg-color {
	background-color: $background;
	// background-color: pink;
}
.animated-bg {
	background-position:center;  
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
}
.element-mask {
	background-color: black;
}

.circle-follow {
  visibility: hidden;
	position :fixed;
  overflow : hidden;
  cursor: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 120px 207.8px 120px;
  border-color: transparent;
  border-bottom-color: white;
  -webkit-transform:rotate(360deg) scale(0);
  transform:rotate(360deg) scale(0);
  -webkit-transition: opacity 1s $cubic;
  transition: opacity 1s $cubic;
  opacity : 0; 
  animation-name: rotate_a;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  will-change: auto;
  @include respond-to($medium){
    display: none;
  }
  &.click{
    animation-name: scale_a;
    animation-duration: 1s;
    animation-timing-function: $cubic;
    animation-fill-mode: forwards;
  }
}
@keyframes rotate_a {
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@keyframes scale_a {
  0%{transform:scale(1)rotate(0deg)}
  100%{transform:scale(5)rotate(90deg)}
}

.circle-follow.moving {
  visibility: visible;
  opacity: 1;
}
.circle-follow.out-animate{
  animation-name: mouse_out;
  animation-duration: 0.8s;
  animation-timing-function: $cubic;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0;
}

@keyframes mouse_out {
  0%{    
    visibility: visible;
    transform:rotate(45deg)  scale(1) translate(0,0);
    opacity: 1;
    border-bottom-color: #ffffff;
  }
  40%{
    border-bottom-color: $background;
  }
  90%{
    visibility: visible;
    transform:rotate(180deg)  scale(0) translate(-50%,-50%);
    opacity: 0;
    border-bottom-color: $background;
  }
  100%{
    visibility: hidden;
    transform:rotate(360deg)  scale(0);
    opacity: 0;
    border-bottom-color: $background;
  }
}


// Animate Text Setup
@keyframes left_negative {
  0% {left: -100%;}
  50% {left: 0%;}
  100% {left: 100%;}
}
@keyframes show_text {
  from {opacity: 0;}
  to {opacity: 1;}
}
.first_text_animate{
  will-change: auto;
  animation-name: show_text;
  animation-duration: 0.1s;
  animation-timing-function: $cubic;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.first_pink_animate{
  will-change: auto;
  animation-name: left_negative;
  animation-duration: 1.5s;
  animation-timing-function: $cubic;
  animation-fill-mode: forwards;
}

.second_text_animate{
  will-change: auto;
  animation-name: show_text;
  animation-duration: 0.1s;
  animation-timing-function: $cubic;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.second_pink_animate{
  will-change: auto;
  animation-name: left_negative;
  animation-duration: 1.5s;
  animation-timing-function: $cubic;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}