
@import "../../../sass/variables";

.projectHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 8em;
  &__titlebox{
    z-index: 1;
    position: absolute;
    &__title{
      font-size: 90px;
      font-weight: bold;
    }
    &__subtitle{
      font-size: 18px;
      font-weight: 600;
      margin-left: 15px;
    }
  }
  &__image{
    // position: relative;
    top: auto;
    position: absolute;
    // top: 0;
    right: auto;
    left: auto;
    bottom: auto;
    margin: auto;
    width: 100%;
    max-height: 100%;
    max-width: 50.83%;
    animation-name: effect_open_page;
    animation-duration: 1s;
    animation-timing-function: $cubic;
    animation-fill-mode: forwards;
    z-index: -1;
    will-change: width;
    &--line{    
      position: absolute;
      left: 0;
      margin: auto;
      right: 0;
      bottom: -5em;
      width: 2px;
      height: 5em;
      padding: 0;
      background-color: $white;
      opacity: 0;
      animation-name: revel_line_up_effect;
      animation-duration: 1s;
      animation-timing-function: $cubic;
      animation-fill-mode: forwards;
      animation-delay: 1s;
      will-change: opacity;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &--scroll{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5.5em;
      margin: 0 auto;
      text-align: center;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      opacity: 0;
      animation-name: revel_effect;
      animation-duration: 1s;
      animation-timing-function: $cubic;
      animation-fill-mode: forwards;
      animation-delay: 1s;
      will-change: opacity;
      line-height: 0;
      p{
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1;

      }
    }
  }
}
@keyframes effect_open_page {
  0% {max-width: 60%;max-height: auto; }
  100% {max-width: 100%;max-height: 100%; }
}
@keyframes revel_effect {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes revel_line_up_effect {
  0% {bottom: -5em;opacity: 0;}
  20% {opacity: 1;}
  100% {bottom:  0em;opacity: 1;}
}

.pink-effect{
  display: block;
  width: 100%;
  height: 100%;
  background-color: $pink;
  position: absolute;
  top: 0;    
  left: -100%;  
  z-index: 1;
  &--overlay{
    max-width: fit-content;
    padding: 0 4px;
    position: relative;
    overflow: hidden;
    p,h1,h2,h3,h4,h5{
      display:inline-block;
      min-width: fit-content;
      overflow: hidden;
      background-clip: border-box; 
    }
  }

}
@keyframes left_negative {
  0% {left: -100%;}
  50% {left: 0%;}
  100% {left: 100%;}
}
@keyframes show_text {
  from {opacity: 0;}
  to {opacity: 100;}
}
// Animate Text Setup
.text_animate{
  opacity: 0;
  animation-name: show_text;
  animation-duration: 0.1s;
  animation-timing-function: $cubic;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.pink_animate{
  animation-name: left_negative;
  animation-duration: 2s;
  animation-timing-function: $cubic;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
