@import "../../../sass/variables";
.PageContain{
  img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
p{
  font-weight: 500;
  font-size: 1.1em;
  @include respond-to($medium){
    font-size: 0.9em;
    font-weight: 400;
  }
}

.light{
  font-weight: 300;
  font-size: 0.8em;
}

.full-image{
  display: block;
  max-width: 100%;
  height: auto;
  img{
    position: relative;
    width: 100%;
    height: auto;
  }
}

.flex-images{
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
    padding: 0 1em;
  }
  &.small-padding{
    div{
      padding: 0 0.2em;
    }
  }
  @include respond-to($medium){
    display: block;
    div{
      margin-bottom: 2.5em;
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
  }
}

.flex-gifs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__container{
    
  }
  @include respond-to($medium){
    display: block;
    &__container{
      margin-bottom: 2.5em;
    }
  }
}

.negative-margin{
  margin-bottom: -20%;
  
  @include respond-to($medium) {
    margin-bottom: 5em;
  }
}

.container {
  position:relative;  
}

.row--overlay-25{
  position: relative;
  margin-top: -25%;
  z-index: 20;
  @include respond-to($medium) {
    margin-top: 2.5em;
    z-index: 1;
  }
}
.negative-index{
  z-index: -1;
}
.row--overlay-70{
  position: relative;
  margin-top: -70%;
  z-index: 20;
  @include respond-to($medium) {
    margin-top: 2.5em;
    z-index: 1;
  }
}

.row--overlay-40{
  position: relative;
  margin-top: -40%;
  z-index: 21;
  @include respond-to($medium) {
    margin-top: 2.5em;
    z-index: 1;
  }
}

.row--overlay-35{
  position: relative;
  margin-top: -35%;
  z-index: 20;
  @include respond-to($medium) {
    margin-top: 2.5em;
    z-index: 1;
  }
}